* {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
}

hr {
  border: 10px solid rgb(124, 124, 124);
  margin-left: 15em;
  margin-right: 15em;
}

.background-alt {
  background: #f2f2f5;
}

.img-container {
  background-image: url(../images/computer.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: left;
  left: 14em;
  position: absolute;
  width: 80%;
  color: black;
  height: auto;
  margin-top: 200px;
}

.title {
  font-size: 4.5em;
}

.stitle {
  color: rgb(36, 130, 207);
  font-size: 1.4em;
}

#about {
  height: 50px;
  margin-bottom: 2em;
}

.heading {
  font-family: "Nanum Gothic", sans-serif;
  height: 20px;
  /* position: relative;
  display: inline-block;
  font-weight: 300; */
}

.aboutMeInfo {
  font-family: "Nanum Gothic", sans-serif;
}

.container {
  height: 50px;
  margin-top: 5em;
}

#skill {
  margin-top: 50px;
  height: fit-content;
  text-align: center;
}

.skillLogo {
  width: 160px;
  height: 160px;
}

#education {
  height: fit-content;
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
}
#education h2 {
  color: #374054;
  margin-bottom: 50px;
}
.education-block {
  max-width: 800px;
  height: 182px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  background-color: white;
  text-align: left;
}
.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054;
}
.education-block span {
  color: #74808a;
  float: right;
}
.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.education-block p,
.education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em;
}
.education-block ul {
  padding: 0 0 0 15px;
} /*  */

#project {
  margin-top: 50px;
  text-align: center;
  height: fit-content;
}

.space {
  padding-top: 1.8em;
}

.footer-main-div {
  width: 100%;
  height: auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;
}

.footer-social-icon {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icon ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-social-icon ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #1b708a;
}

.footer-social-icon ul li a {
  color: #d8d8d8;
  font-size: 25px;
}

.footer-social-icon ul li a i {
  line-height: 50px;
}

.footer-social-icon ul li:hover {
  background: #557f8b;
}